<div>
  <h1>Card</h1>
  <p>Find me in app/views/card/index.html.erb</p>
  <div class="">
    <div class="col-span-2">01</div>
    <div class="">02</div>
    <div>03</div>
    <div>04</div>
    <div>05</div>
  </div>
</div>

