
<%= turbo_frame_tag 'popup' do%>
    <div tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-h-full">
            <div class="absolute top-1/2 ml-96 bg-[#E5E7EB] rounded-lg shadow dark:bg-gray-700">
                
                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="flex justify-center font-extrabold text-white items-center h-12 rounded-md">New Card</h3>
                    <%= link_to cards_path, class: "text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" do%>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                    <% end %>
                </div>
                
                    <div id="card" class="p-6 space-y-6">
                        <%= render "form", card: @card %>
                    </div>
               
            </div>
        </div>
    </div>
<% end %>
