
  <div class="container mx-auto rounded-md">
    <h1 class="flex justify-center mb-2 font-extrabold text-white items-center bg-[#2563EB] h-16 rounded-md">Card Table</h1>
      <hr/>

    <div class="grid grid-cols-3 gap-4 bg-white">

        <div class="col-span-3 sm:col-span-1 ">
          <div class="flex justify-center font-extrabold text-white items-center h-8 bg-[#FACC15] rounded-md">TODO</div>
          <%= render partial: 'cards/card', class:'bg-[#A5B4FC]', collection: @todo_card, as: :card %>
        </div>

        <div class="col-span-3 sm:col-span-1">
          <div class="flex justify-center font-extrabold text-white items-center h-8 bg-[#FACC15] rounded-md">UNDERWAY</div>
          <%= render partial: 'cards/card', collection: @underway_card, as: :card%>
        </div>

        <div class="col-span-3 sm:col-span-1">
          <div class="flex justify-center font-extrabold text-white items-center h-8 bg-[#FACC15] rounded-md">DONE</div>
          <%= render partial: 'cards/card', collection: @done_card, as: :card%>
        </div>

    </div>


      <%= link_to "New Card Add", new_card_path, class: 'mt-8 flex justify-center font-extrabold text-white items-center bg-[#2563EB] h-16 rounded-md w-full' %>
  </div>
