<div class="container mx-auto bg-blue-500 rounded-md">
<h1 class="text-center" >Card Table </h1>
<br/>
<hr/>
  <% @cards.each do |card| %>
    <% if card.published? %>
        <li>
          <a href="/cards/<%= card.id %>"> 
           title: 
          <%= card.title%>
          body:
          <%= card.body%>
          </a>

      </li>
    <% end %>
   <% end %>


<button class="h-12 bg-[#006666] rounded-md w-36" ><%= link_to "New Card Add", new_card_path %> </button>
</div>




