
<ul>
  <li><%= link_to "Edit", edit_card_path(@card) %></li>
  <li><%= link_to "Destroy", card_path(@card), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<%= render @card.comments %>

<%= render 'comments/form' %>