
<nav class="bg-[#2563EB] z-50">
  <div class="container mx-auto">
    <div class="flex items-center justify-end font-border h-16">
      <div class="flex items-center">
        <div class="hidden md:block">
          <div class="ml-10 flex justify-end items-baseline space-x-4">
          <% if logged_in? %>
            <p class="text-[#FACC15] px-3 py-2 rounded-md flex text-sm font-extrabold"> Kullanıcı:  <%= current_user.name %></p>
            <%= link_to 'Çıkış Yap', logout_path, method: :delete, class: "text-[#FACC15] hover:text-white px-3 py-2 rounded-md text-sm font-extrabold" %>
          <% else %>
            <%= link_to "Login", login_path, class: "text-[#FACC15] hover:text-white px-3 py-2 rounded-md text-sm font-extrabold" %>   
            <%= link_to "Sign Up", signup_path, class: "text-[#FACC15] hover:text-white px-3 py-2 rounded-md text-sm font-extrabold" %>
          <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>

